<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>

<header>
  <!-- Logo -->
  <div class="logo">
    <img src="..//src/assets/images/logo.png" alt="Logo">
  </div>
  <!-- Navigation menu -->
  <nav>
    <a href="#">JOUER</a>
    <span class="separator"></span>
    <a href="#">CLASSEMENT</a>
    <span class="separator"></span>
    <a href="#">Déconnexion</a>
    <span class="separator"></span>
  </nav>
  <div class="profile">
    <!-- image profile user -->
    <div class="profile_image">
    <img src="/assets/images/user1.png" alt="profile image">
    </div>
    <!-- Informations utilisateur -->
    <div class="profile_info">
    <!-- Nom d'utilisateur -->
    <span th:text="${firstName}"></span>

    <!-- Lien vers le profil -->
    <a href="#">Profile link</a>
    </div>
  </div>
</header>


